.swiper {
    margin-bottom: 3rem;
    
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.slide-inner {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  height: 100%; 
  max-height: 800px; /* Or however tall you want each slide */
  // padding: 1rem;
  box-sizing: border-box;
  text-align: left;
}

.slide-title {
  padding-top: 1rem;
  color: black;
  font-size: 1.2rem;
}

.slide-excerpt {
  font-size: 0.9rem;
  color: #555;
  flex-grow: 1; /* Takes up remaining space to push button down */
  margin-bottom: 1rem;
}

.read-more-btn {
  display: inline-block;
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 8px;
  font-size: 13px;
  border-radius:50px;
  text-decoration: none;
  align-self: flex-start;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #000000; /* Replace with your desired color */
  background-color: #EEECDB;
  border: 5px solid #fe6a34;
  padding: 0.5rem;
  font-size: 3rem; /* Optional: change icon size */
  width: 10rem;
}