footer {
  margin-top: 15rem;
  background-color: #333;
  padding: 7rem;
  padding-bottom: 3rem;
  padding-left: 4rem;
  color: white;

  h4,
  h5 {
    font-size: 17px;
  }

  h4,
  h5,
  h6 {
    font-weight: 600;
    text-align: left;
  }

}

.footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer i {
  font-size: 20px;
  color: white;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sub-container-1 {
  display: flex;
  text-align: left;
  gap: 6rem;
  font-size: 14px;
  flex-wrap: wrap;
}

.sub-container-3 {
  padding-top: 3rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;

}

.menu-container li,
.categories-container li,
.company-container li {
  margin-top: 1rem;
}

.copyright {
  text-align: left;
  color: #ffffff;
}

.tnp-email {
  width: 40rem;
  padding: 4em;
}

.tnp-submit {
  background-color: #fe6a34;
  padding: 1rem;
}

.sponsor {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.sponsor img {
  width: 3.7em;
  height: 3.7em;
  margin-right: 1em;
}

.footer .sub-menu {
  padding: 0;
}

.footer .menu-icon {
  display: none;
}

.footer .submenu li {
  list-style: none;
}

.menu-item {
  list-style: none;
}


@media (max-width: 767.98px) {
  .tnp-email {
    width: 100%;
  }

  .sponsor img {
    width: 4em;
    height: 4em;
  }

}