
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: #313131;

    transition: padding 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

header.scrolled {
    padding: 1rem 3rem;
    background-color: #212121;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    margin: 0 15px;
    position: relative; //for dropdown
  }
  
  /* link */
  .nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    position: relative;
  }
  
  .nav a img {
    margin-right: 8px;
  }
  
  /* ホバー時の下線アニメーション */
  .nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
   // background-color: #F05A25;
    left: 0;
    bottom: -5px;
    //transition: width 0.3s ease;
  }
  
  .nav a:hover::after {
    width: 100%;
  }
  
  /* submenu style */
  .nav .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #313131;
    padding: 1rem 0;
    border-radius: 8px;
    z-index: 1000;
    min-width: 200px;
   // box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* hover to parents and submenu css */
  .nav li:hover > .sub-menu {
    display: block;
  }
  
/*submenu link*/
  .nav .sub-menu li a {
    display: block;
    padding: 0.75rem 1.5rem;
    color: white;
    text-decoration: none;
    white-space: nowrap;
  }
  
  .nav .sub-menu li a:hover {
    background-color: #444;
  }
  
  /* Logo*/
  .nav-logo-link {
    position: absolute;
    left: 10%;
  }
  