.hero-container {
    position: relative;
    padding-top: 9rem;
}

.hero-img {
    width: 95rem;
    height: 42rem;
    border-radius: 30px;
    margin-bottom: 10rem;
}





.hero-text {
    position: absolute;
    top: 25rem;
    left: 7rem;
    color: white;
    background-color: #313131ce;
    border-radius: 20px;
    padding: 1rem;
    transform: translateY(50px);
    opacity: 0;
    animation: slideInUp 1s ease-out forwards;
    animation-delay: 0.3s;
    z-index: 10;

    h1,
    h2,
    p {
        margin: 0.2em 0;
    }

    .play-button-icon {
        margin-top: 1rem;
    }

    h1 {
        color: #fe6a34;
        text-shadow: rgba(0, 0, 0, 0.7) -4px 2px 2px;
        font-weight: 700;
        font-size: 3rem;
        
    }

    h2 {
        font-weight: 100;
        font-size: 16px;
        line-height: 1.5px;
        letter-spacing: 1.5px;


    }

    p {
        letter-spacing: 1px;
        font-weight: 500;
    }
}

@keyframes slideInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-container {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}



.play-button {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 50px;
    width: 7rem;
    height: 3rem;
    margin-top: 1rem;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: #f1f1f1;
        transform: scale(1.05);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px -10px,
            rgba(0, 0, 0, 0.2) 0px 10px 10px -5px;
    }

    img {
        margin: auto;
    }

}




.article-container {
    padding: 2rem 1rem;
    text-align: center;
    margin-bottom: 10rem;
}

.slider-title {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 3rem;
}

.latest-episodes-title {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 2rem;
    margin-top: 8rem;
}

.upcoming-events-slider {
    padding-bottom: 8rem;
}

.news-slider {
    padding-top: 8rem;
    padding-bottom: 4rem;
}

.artist-container {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.artist-container-heading {
    font-size: 2.5rem;
    font-weight: 800;
    padding-bottom: 4rem;
    text-align: center;
}


.podcast-container-inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.artist-type {
    color: #fe6a34;
    font-weight: 600;
}

.card-title {
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Responsive layout */
@media (min-width: 768px) {
    .artists {
        margin: 1rem;
    }

    .row {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
}