// Bootstrap imports

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./header.scss";
@import "./footer.scss";
@import "./index.scss";
@import "./page.scss";
@import "./carousel.scss";
@import "./radio-player.scss";
@import "./podcast-page.scss";
@import "./community.scss";

main,
header {
  font-family: "Roboto", sans-serif;
  padding-top: 2rem;
  padding-left: 150px;
  padding-right: 150px;
}
body {
 ont-family: "Roboto", sans-serif;
    padding-top: 2rem;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #FFFEED;
  }






